@import './reset.scss';
@import './mixin/media.scss';
@import './variables';
@import './fonts.scss';

.container {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  max-width: 1440px;

  @include desktope {
    margin-inline: 20px;
  }
}

html {
  background-color: $color-background;
  color: $color-text;

  a {
    color: $color-text;
  }
}

